<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bigstore</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.software.team.BigStore.model.Product"></mapping>
        <mapping class="com.software.team.BigStore.model.MainCategory"></mapping>
        <mapping class="com.software.team.BigStore.model.SubCategory"></mapping>
        <mapping class="com.software.team.BigStore.model.User"></mapping>
        <mapping class="com.software.team.BigStore.model.NormalUser"></mapping>
        <mapping class="com.software.team.BigStore.model.Company"></mapping>
        <mapping class="com.software.team.BigStore.model.chatMessage"></mapping>
        <mapping class="com.software.team.BigStore.model.Question"></mapping>
        <mapping class="com.software.team.BigStore.model.Answer"></mapping>
        <mapping class="com.software.team.BigStore.model.Prouduct_like"></mapping>
        <mapping class="com.software.team.BigStore.model.Comment"></mapping>

    </session-factory>
</hibernate-configuration>
